.jumbotron {
    text-align:center;
    background-image: url("../images/header-train.jpg");
    text-shadow: 2px 2px lightblue;
}

body {
    background-image: url("../images/dark-grey-terrazzo.png")
}